In [1]:
import pandas as pd
import numpy as np

In [6]:
a = pd.read_csv('paris_airbnb.csv')

In [39]:
a

,host_response_rate,host_acceptance_rate,host_listings_count,latitude,longitude,city,zipcode,state,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews
0,100%,NaN,1.0,48.83349,2.31852,Paris,75014,Île-de-France,2,Entire home/apt,0.0,1.0,0.0,$75.00,$50.00,$0.00,3,15,8
1,100%,NaN,1.0,48.85100,2.35869,Paris,75004,Ile-de-France,2,Entire home/apt,0.0,1.0,1.0,$115.00,$36.00,$0.00,1,90,173
2,100%,NaN,2.0,48.85758,2.35275,Paris,75004,Île-de-France,4,Entire home/apt,2.0,1.0,2.0,$115.00,$50.00,$200.00,10,23,243
3,100%,NaN,1.0,48.86528,2.39326,Paris,75020,Ile-de-France,3,Entire home/apt,1.0,1.0,1.0,$90.00,NaN,NaN,3,365,1
4,67%,NaN,3.0,48.85899,2.34735,Paris,75001,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$75.00,$200.00,"$1,500.00",180,365,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,100%,NaN,2.0,48.87901,2.29526,Paris,75017,Île-de-France,2,Entire home/apt,0.0,1.0,1.0,$55.00,$45.00,$400.00,150,1125,0
7996,NaN,NaN,1.0,48.88903,2.35271,Paris,75018,Île-de-France,4,Entire home/apt,1.0,1.0,2.0,$60.00,$20.00,$100.00,3,1125,4
7997,100%,NaN,1.0,48.85313,2.34146,Paris,75006,Île-de-France,2,Entire home/apt,1.0,1.0,1.0,$60.00,$30.00,$0.00,2,10,25
7998,NaN,NaN,1.0,48.88066,2.33639,Paris,75009,Île-de-France,2,Entire home/apt,NaN,1.0,1.0,$58.00,NaN,$200.00,3,9,57
7999,100%,NaN,2.0,48.85760,2.39946,Paris,75020,Île-de-France,6,Entire home/apt,1.0,1.0,3.0,$40.00,$35.00,$300.00,4,1125,49

In [8]:
type(a['beds'])

pandas.core.series.Series

In [10]:
type(a[['beds','bedrooms','price']])

pandas.core.frame.DataFrame

In [13]:
a[['beds','bedrooms','bathrooms']].mean()

beds         1.753068
bedrooms     1.248370
bathrooms    1.128494
dtype: float64

In [18]:
np.mean(a['beds'])

1.753067868770348

In [26]:
a_cols1 = a.select_dtypes(include = ['int']).columns.to_list()
for col1 in a_cols1 :
    print(col1)

accommodates
minimum_nights
maximum_nights
number_of_reviews

In [28]:
for col1 in a_cols1 :
    m1 = np.mean(a[col1])
    print('la moyenne de la colonne'+' ' + col1 + ':', m1)

la moyenne de la colonne accommodates: 3.19875
la moyenne de la colonne minimum_nights: 8.759375
la moyenne de la colonne maximum_nights: 546.876
la moyenne de la colonne number_of_reviews: 44.874875

In [24]:
a_cols=a.select_dtypes(include = ['float']).columns.to_list()
for col in a_cols :
    print(col)

host_acceptance_rate
host_listings_count
latitude
longitude
bedrooms
bathrooms
beds

In [29]:
for col in a_cols :
    m = np.mean(a[col])
    print('moyenne de la colonne'+' ' + col + ':' ,m)

moyenne de la colonne host_acceptance_rate: nan
moyenne de la colonne host_listings_count: 7.025878234779348
moyenne de la colonne latitude: 48.86456040249989
moyenne de la colonne longitude: 2.3487392574999952
moyenne de la colonne bedrooms: 1.248370110330993
moyenne de la colonne bathrooms: 1.12849408209519
moyenne de la colonne beds: 1.753067868770348